<div class="register-container">
  <div class="register-card">
    <div class="register-header">
      <h1>Создайте аккаунт</h1>
      <p>Присоединяйтесь к FLOCK, чтобы находить интересные мероприятия</p>
    </div>
    
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="profile-picture">
        <div class="profile-picture-preview">
          <img *ngIf="imagePreview" [src]="imagePreview" alt="Profile preview">
          <span *ngIf="!imagePreview">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="#aaa" viewBox="0 0 16 16">
              <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
            </svg>
          </span>
        </div>
        <label for="profileImage" class="upload-btn">Загрузить фото</label>
        <input type="file" id="profileImage" style="display: none;" (change)="onFileSelected($event)" accept="image/*">
      </div>
      
      <div class="form-group">
        <label for="username">Имя пользователя</label>
        <input 
          type="text" 
          id="username" 
          class="form-control" 
          formControlName="username" 
          placeholder="Введите имя пользователя">
        <div *ngIf="registerForm.get('username')?.invalid && (registerForm.get('username')?.dirty || registerForm.get('username')?.touched)" class="error-message">
          <div *ngIf="registerForm.get('username')?.errors?.['required']">Имя пользователя обязательно</div>
          <div *ngIf="registerForm.get('username')?.errors?.['minlength']">Имя пользователя должно содержать не менее 4 символов</div>
        </div>
      </div>
      
      <div class="form-group">
        <label for="email">Email</label>
        <input 
          type="email" 
          id="email" 
          class="form-control" 
          formControlName="email" 
          placeholder="Введите ваш email">
        <div *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.dirty || registerForm.get('email')?.touched)" class="error-message">
          <div *ngIf="registerForm.get('email')?.errors?.['required']">Email обязателен</div>
          <div *ngIf="registerForm.get('email')?.errors?.['email']">Укажите корректный email</div>
        </div>
      </div>
      
      <div class="form-group">
        <label for="password">Пароль</label>
        <input 
          type="password" 
          id="password" 
          class="form-control" 
          formControlName="password" 
          placeholder="Создайте пароль">
        <div *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.dirty || registerForm.get('password')?.touched)" class="error-message">
          <div *ngIf="registerForm.get('password')?.errors?.['required']">Пароль обязателен</div>
          <div *ngIf="registerForm.get('password')?.errors?.['minlength']">Пароль должен содержать не менее 6 символов</div>
        </div>
      </div>
      
      <div class="form-group">
        <label for="confirmPassword">Подтвердите пароль</label>
        <input 
          type="password" 
          id="confirmPassword" 
          class="form-control" 
          formControlName="confirmPassword" 
          placeholder="Подтвердите пароль">
        <div *ngIf="registerForm.get('confirmPassword')?.invalid && (registerForm.get('confirmPassword')?.dirty || registerForm.get('confirmPassword')?.touched) || registerForm.errors?.['passwordMismatch']" class="error-message">
          <div *ngIf="registerForm.get('confirmPassword')?.errors?.['required']">Подтверждение пароля обязательно</div>
          <div *ngIf="registerForm.errors?.['passwordMismatch']">Пароли не совпадают</div>
        </div>
      </div>
      
      <button 
        type="submit" 
        class="btn btn-primary btn-register" 
        [disabled]="registerForm.invalid || loading">
        <span *ngIf="loading" class="spinner"></span>
        Зарегистрироваться
      </button>

      <div *ngIf="errorMessage" class="error-message text-center mt-3">
        {{ errorMessage }}
      </div>
    </form>
    
    <div class="login-link">
      Уже есть аккаунт? <a routerLink="/login">Войти</a>
    </div>
  </div>
</div>